

.about{
	width:100%;
	height: 100vh;
	background-color: black;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
/* this changes the picture where it is uploaded */}
.about-text{
	font-family: calibri;
	width: 50%;
}
.about-text h1{
	font-size: 5rem;
	color:#17d1ac;
}
.about-text h2{
	font-size: 3rem;
	color:#FFFFFF;
	font-weight: 400;
}
.about-text h1,h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:rgba(255,255,255,0.90);
	
}
.about-model {
	padding-left: 20%;
	padding-top: 10%;
	height: 80%;
	width: 80%;
	
}

.about-model img{

	border-radius:   50%; 	
	height: 90%;
	width: 80%;

}

.about-model-het {
	padding-right: 20%;

	padding-top: 10%;
	height: 90%;
	width: 80%;
	
}


.about-model-het img{


	border-radius:   50%; 
	width: 70%;	
	height: 80%;
	

}

/*
I used the pre standard icon for my clients website, the client requested for the standard logos so i used the following link from w3school
made some changes as per the need of website
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons
*/
.fa {
	padding: 20px;
	font-size: 35px;
	width: 55px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.6;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}


.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.fa-snapchat-ghost {
	background: #fffc00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

