* {
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
	background-color: #161616;

}
ul{
	list-style: none;
}
a{
	text-decoration: none;

}



#contact-us{
	width: 100%;
	display: grid;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 1050px;
	background-color: #F4F7FF;
	margin: 10px 0px;
	box-sizing: border-box;
	box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
	text-align: center;
}

.c-b-heading{
	font-size: 2rem;
	color:#1E1E1E;
	font-family: calibri;
	margin: 10px;
	padding: 5px;
	letter-spacing: 4px;
	border-bottom: 2px solid #1E1E1E;
	
}
.contact-btn button{
	color:#FFFFFF;
	font-size: 1rem;
	font-family: calibri;
	width:150px;
	height: 40px;
	margin: 10px;
	background-color: #1E1E1E;
	border: none;
	outline: none;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
	

}
.contact-btn button:hover{
	background-color: #17d1ac;
	color:#000000;
	transition: all ease 0.5s;
	font-weight: bold;
}

/*
Trying to make form responsive using w3school looks good for assignment3
if input type we need to set text,seelct,textarea to teh following
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_form*/
input[type=text], select, textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid #F4F7FF;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 10px;
	resize: vertical;
}
/*
Trying to make form responsive using w3school looks good for assignment3
if input type is submit apply the following and when hovered apply bottom
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_form*/
input[type=submit] {
	background-color: #F4F7FF;
	color: black;
	padding: 12px 40px;
	border: 2px solid white;

	border-radius: 4px;
	cursor: pointer;
	
}
/*
Trying to make form responsive using w3school looks good for assignment3
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_form*/
input[type=submit]:hover {
	background-color: black;

	transition:  all ease 0.5s;  
	color:#F4F7FF;
	
}


.contact-form, .contact-btn {
	padding: 5px;


}



.contact-form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
	justify-content: center;
	align-items: center;
	background-color: #292929;
	color: #FFFFFF;
	display: none;
	text-align: left;


}
.ui-datepicker{
	background: black;
	border: 3px solid white;
	color: #FFFFFF;
	width: 20%;
}

#subject{
	height:200px;
}