
a{
	text-decoration: none;

}

/* actuall navigation class where all blocks decoration will be set up*/
nav{
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: calibri;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 40px;
	background-color:#F4F7FF;
	box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
	z-index: 1;
	padding-bottom: 0px;
	
}
/* changing from list view to horizontal view as taskbar*/
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F4F7FF;
}

ul.menu li {float: left;}

ul.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

/**
creating custom hoverable list makes easier to form active class and non active class as well as provide some decoration
*/

ul.menu li a:hover:not(.right) {background-color: #111; color:white;} 

ul.menu li a:hover:not(.active) {background-color: #111; color:white;} 
ul.menu li a.active {background-color:black; color:#F4F7FF;}

ul.menu li.right {float: right; font-size: 20px;}

ul.menu li.right a:hover { background-color: #F4F7FF; color:black;}

/**
creating custom footer based upon the need of the page
*/

#footer {
  text-align: center;
  padding: 1px;
  color: white;
}
#footer-about {
  text-align: center;
  padding: 1px;
  color: black;
}

#footer-services {
	

  text-align: center ;
  
  color: white;
  z-index: 1 ;
  position: absolute;
  bottom: 0;
  width: 100%;
}