* {
	box-sizing: border-box;
}
body{
	margin: 0px;
	height: 100%;
	
	padding: 0px;
	background-color: #161616;

}
ul{
	list-style: none;
}
a{
	text-decoration: none;

}

.content {
	position: relative;
	bottom: 1px;
	color: #f1f1f1;
	width: 100%;
	padding: 18%;
	margin-left: 13%;
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
}
/*
* for creading the background of aerocoding and adjusting the webpage
*/

#main{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background-color: #edf1fd; 
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: right bottom;
	padding-top: 100px;
	background-image: url("../images/AeroCodingLogo.jpeg");
	min-width: 100%;
	min-height: 100%;
	display: flex;
}



/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons
* all social media buttons have some form of styling
*/
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 15px 30px;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}


.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

